<style type="text/css">
body {

	background-repeat: no-repeat;
	-moz-transform-origin: 0 0;
}
#apDiv1 {
	position: absolute;
	height: 67px;
	z-index: 1;
	left: 207px;
	top: 90px;
	width: 364px;
}
#apDiv2 {
	position: absolute;
	height: 66px;
	z-index: 2;
	left: 207px;
	top: 20px;
	width: 364px;
}
body,td,th {
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	color: #0072A5;
	margin:0px;
}

</style>